.container{
 /* background-color:#e4eaed;*/
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
    margin-bottom:150px;
    padding-bottom: 20px;
    border-bottom: 2px solid #adadad;
    left:50%
	position: fixed;

}
#homebutton a{   
    text-decoration: none;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color:#6495ed;
    margin-left: 1%;
}
/*
.homebutton img	{ background-color: white; }
.homebutton img:hover	{ background-color: grey; }*/
#homebutton a:hover	{ background-color: #4169e1; }

header{
    z-index: 1;
    display: block;
    font-family:Arial;
    text-align: left;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 12px;
    color:#6495ed;
}
/*.backgroundImage{
  z-index: 10;
  position: fixed;
  background-size: cover;
  opacity: 0.5;
  
}
*/


.form{
    z-index: 2;
	background:#e4eaed; width:470px; margin:left;margin-left: 100px; padding-left:50px; padding-top:20px;padding-bottom:10px;
}
.form fieldset{border:0px; padding:0px; margin:0px;}
.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}

.form input[type="text"] { width: 400px; }
.form input[type="email"] { width: 400px; }
.form input[type="password"] { width: 400px; }

.form input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
.form input:focus, textarea:focus { border: 1px solid #c0cbd1; background-color: rgba(255, 255, 255, 1); }
.form .select-style {
      -webkit-appearance: button;
      -webkit-border-radius: 2px;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      -webkit-padding-end: 20px;
      -webkit-padding-start: 2px;
      -webkit-user-select: none;
      background-image: url(images/select-arrow.png), 
        -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
      background-position: center right;
      background-repeat: no-repeat;
      border: 0px solid #FFF;
      color: #555;
      font-size: inherit;
      margin: 0;
      overflow: hidden;
      padding-top: 5px;
      padding-bottom: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
.form input.buttom{ 
    margin-top: 10px;
    margin-left: 270px;
    background: #6495ed; 
    display: inline; 
    color: #fbf7f7; 
    text-decoration: none;
    text-align: left;
    font-weight: bold; 
    line-height: 1; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    -moz-box-shadow: 0 1px 3px #999; 
    -webkit-box-shadow: 0 1px 3px #999; 
    box-shadow: 0 1px 3px #999; 
    border: none; 
    position: relative; 
    cursor: pointer; 
    font-size: 14px; 
    text-align: center;
    left:-270px;
    padding-right:125px;
    padding-left: 125px;
    font-family:Arial, Geneva, sans-serif;
    }
.form input.buttom:hover	{ background-color: #4169e1; }

.topButton{
    text-decoration: none;
    display:inline;
    border: none;
    margin-left: 7.5%;
    margin-top:10%;
    font-family:Arial;
    text-align: center;
    font-size: 20px;
    color: #636363;
}
#signup a{  
    text-decoration: none;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color:#6495ed;
    margin-left: -7%;
    

}
#signup a:hover	{ background-color: #4169e1; }

#signIN{
    text-decoration: none;
    display:inline;
    border: none;
    margin-left:200px;
    font-family:Arial;
    text-align: center;
    font-size: 20px;
    color: black;
}
#imageBG{
    position:fixed;
    left:750px;
    margin-top:-300px;
    border: 40px solid #e4eaed;
}
.smallReg a{
    text-decoration: none;
    color: #4169e1;
    font-weight:700;
    
}
.smallReg{
    text-decoration: none;
    display:inline;
    border: none;
    font-family:Arial;
    text-align: center;
    font-size: 12px;
    color: black;
}