
<!DOCTYPE html>

<html>

	<head>
		<title>History Board</title>
				<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="index_style.css">

	</head>

	<body>
		<header>
			<div class="container_navbar">
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="index.html">History Board</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><a href="#">About</a></li>
			        <li><a href="#">Education</a></li>
			      </ul>
			      <form class="navbar-form navbar-left" role="search">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Search">
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
			      </form>
			      <ul class="nav navbar-nav navbar-right">
			        <li><button type="button" class="btn btn-default navbar-btn" href="login.html">Sign in</button></li>
			        <li><button type="button" class="btn btn-primary navbar-btn" href="Signup.html">Register</button></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			</div>
		</header>
		
		<div class="container">
			
			<div class="article_box">
				<div class="description">
					<h2>
					This is my great grand pappy's tractor that he use to rape the negro women on.
					</h2>
				</div>
				<img src="tractor.jpg">
				<div class="description_head">
				  <ul class="pager">
				    <li><a href="#">John Doe</a></li>
				    <li><a href="#">06/04/2015<span aria-hidden="true"></span></a></li>
				    <li class="edit"><a href="#">Edit <span aria-hidden="true"></span></a></li>
				    <li class="delete"><a href="#">Delete <span aria-hidden="true"></span></a></li>
				  </ul>
				</div>

				<div class="input-group input-group-lg">
				  <span class="input-group-addon" id="sizing-addon1">Comment</span>
				  <input type="text" class="form-control" placeholder="Your text here" aria-describedby="sizing-addon1">
				</div>

				<div class="comment_box">
					<div class="panel panel-info">
					  <div class="panel-body">
					    <ul class="pager">
						    <li><a href="#">Mr. Arse</a></li>
						    <li><a href="#">22.05 - 06/04/2015</a></li>
					  </div>
					  <div class="panel-footer">I think you'll find that the negro women preferred to be raped on green tractors, so I think this story is a fabrication.</div>
					</div>
				</div>

				<div class="comment_box">
					<div class="panel panel-info">
					  <div class="panel-body">
					    <ul class="pager">
						    <li><a href="#">Mr. Bum</a></li>
						    <li><a href="#">22.05 - 06/04/2015</a></li>
					  </div>
					  <div class="panel-footer">I think you'll find that the negro women preferred to be raped on green tractors, so I think this story is a fabrication.</div>
					</div>
				</div>
	
			</div>

			<div class="tag_box">
				<h1>Related Content</h1>
					<ul>
						<button type="button" class="btn btn-default"><a href="#">I am a tag lol</button>
					</ul>

			</div>

		</div>
