<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="HPCSS.css" media="all" />
</head>
<body>
  <!--<div class="backgroundImage"><img src="http://img.thesun.co.uk/multimedia/archive/01562/RSNE08SPP3---620g_1562364a.jpg"></div>-->
<div class="container">
    <div class="topButton" id="homebutton"><a href="C:\Users\stephen\Documents\2. Programming Project 2\Homepage\homepage.html"> <strong>HOME</strong></a></div>
    <!-- Will be references-->
  <div class="topButton"><strong>CATEGORIES</strong></div>
  <div class="topButton"><strong>ABOUT</strong> </div>
  <div class="topButton"><strong>EDUCATION</strong> </div>
   
    <div  class="topButton"id="signIN"> <a href="C:\Users\stephen\Documents\2. Programming Project 2\Login\login.html"><strong>SIGN IN</strong></a>
    </div>
    
    <div class="topButton" id="signup">
                  <a href="file:///C:/Users/stephen/Documents/2.%20Programming%20Project%202/New%20reg/Signup.html"><strong>REGISTER</strong></a>
              </div>
  </div>
        <div id="headerBox">
          <!--  <TABLE BORDER="0" cellpadding="0" CELLSPACING="0">
            <TD WIDTH="800" HEIGHT="300" BACKGROUND="            http://dublincity.ie/sites/default/files/content//RecreationandCulture/DecadeofCommemorations/DecadeofCommemorations/PublishingImages/Sml_Lrg_Images/GPO_Ruins,%201916_800.jpg" VALIGN="bottom">-->
			<header>
                <p><strong>REDISCOVER</strong></p>
                <p><strong>YOUR HISTORY</strong></p>
                <p><strong>TODAY</strong></p>
                <div class="search" class="searchBar"><p></p> 
    			<input placeholder="Search categories" required="" type="text"> <input id="search_submit" value="Rechercher" type="submit">
                </div>
            </header> 
                
        </div>
      <div  class="form">
          <p id="catTitle">TOP CATEGORIES</p>
          
    		<form id="contactform">    			 
                <div class="categories"id="agriculture"><p>AGRICULTURE</p>
                </div>
                <div class="categories"id="sport" ><p>SPORT</p>
                </div>
                <div class="categories"id="family" ><p>FAMILY</p>
                </div>
                 </div>
                <div class="categories"id="architecture" ><p>ARCHITECTURE</p>
                </div>
                 </div>
                <div class="categories"id="work" ><p>WORK</p>
                </div>
                 </div>
                <div class="categories"id="leisure" ><p>LEISURE</p>
                </div>
                
   </form> 
<div class="final">
    <p>WE NEED YOUR HELP</p>
    <p>PLEASE HELP US TO CREATE AN ARCHIVE</p>
    <p>OF IRISH HISTORY BY SUBMITTNG YOUR OWN ARTICLES</p>
    <p>TO OUR BOARD AND PARTAKING IN THE DISCUSSION</p>
</div>
</div>
</div>

</body>
</html>
