<!DOCTYPE html>
<html>
<head>
<title>LogIn</title>
    <link rel="stylesheet" type="text/css" href="loginstyle.css" media="all" />
</head>
<body>
  <!--<div class="backgroundImage"><img src="http://img.thesun.co.uk/multimedia/archive/01562/RSNE08SPP3---620g_1562364a.jpg"></div>-->
<div class="container">
    <div class="topButton" id="homebutton"><a href="http://www.myhome.ie/"> <strong>HOME</strong></a></div>
    <!-- Will be references-->
  <div class="topButton"><strong>CATEGORIES</strong></div>
  <div class="topButton"><strong>ABOUT</strong> </div>
  <div class="topButton"><strong>EDUCATION</strong> </div>
   <p  id="signIN"><strong>SIGN IN</strong> </p>
    <div class="topButton" id="signup">
                  <a href="file:///C:/Users/stephen/Documents/2.%20Programming%20Project%202/New%20reg/Signup.html"><strong>REGISTER</strong></a>
              </div>
  </div>
			<header>
				<h1>SIGN IN</h1>
            </header>       
      <div  class="form">
    		<form id="contactform">    			 
    			<p class="contact"><label for="email">EMAIL</label></p> 
    			<input id="email" name="email" placeholder="example@domain.com" required="" type="email"> 
                 			 
                <p class="contact"><label for="password">PASSWORD</label></p> 
    			<input type="password" id="password" name="password" required=""> 
     
            <input class="buttom" name="submit" id="submit" tabindex="2" value="SIGN IN" type="submit"> 
                <div class="smallReg">NO ACCOUNT? <a href="file:///C:/Users/stephen/Documents/2.%20Programming%20Project%202/New%20reg/Signup.html"><span>REGISTER HERE</span></a></div>
    
                
   </form> 
</div>
           <div id="imageBG" ><img src="https://s-media-cache-ak0.pinimg.com/474x/47/d4/d5/47d4d545ebf0f0cb3272209bc1bb7ca3.jpg" width="300px" height="390px"></div>
      
</div>

</body>
</html>
