<div class="article_box">
  <div class="description">
    <h2>
      This is my great grand pappy's tractor. I remember climbing about on it as a child.
    </h2>
  </div>
  <img ng-src="http://localhost:3000{{post.image.url}}">
  <div class="description_head">
    <ul class="pager">
      <li>{{post.user.first_name}} {{post.user.last_name}}</li>
      <li>{{post.created_at}}<span aria-hidden="true"></span></a></li>
      <li class="edit"><a href="#">Edit<span aria-hidden="true"></span></a></li>
      <li class="delete"><a href="#">Delete<span aria-hidden="true"></span></a></li>
    </ul>
  </div>

  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">Comment</span>
    <input type="text" class="form-control" placeholder="Your text here" aria-describedby="sizing-addon1">
  </div>
  <div class="comment_box" ng-repeat="comment in post.comments">
    <div class="panel panel-info">
      <div class="panel-body">
        <ul class="pager">
          <li><a href="#">{{comment.user.first_name}} {{comment.user.last_name}}</a></li>
          <li><a href="#">{{comment.created_at}}</a></li>
        </ul>
      </div>
      <div class="panel-footer">{{comment.body}}</div>
    </div>
  </div>
</div>

<div class="tag_box">
  <h1>Related Content</h1>
  <ul ng-repeat="tag in post.all_tags">
    <button type="button" class="btn btn-default"><a href="#">{{tag.name}}</button>
  </ul>
</div>