Title: {{post.title}}<br>
Description: {{post.description}}<br>
Tags: {{post.all_tags}}<br>
<img ng-show="post.image.url" ng-src="http://localhost:3000{{post.image.url}}" class="img-thumbnail" /> <!--This may not need to be a thumbnail-->

<br><br>
Post New Comment:<br><input type="textarea" ng-model="body"></input>
<input type="button" ng-click="createComment()" value="Post Comment">

<br><br>
Previous Comments:
<ul>
  <li ng-repeat="comment in post.comments">
    Comment: id={{comment.id}}: {{comment.body}}
  </li>  
</ul>
