<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Register for an account</h1>
    <form name="signupForm" role="form" ng-submit="register(user)" novalidate>
      <div class="form-group">
        <label for="firstNameInput">First name</label>
        <input type="text" ng-model="user.first_name" class="form-control" id="firstNameInput" placeholder="First name" required>
      </div>
      <div class="form-group">
        <label for="lastNameInput">Last name</label>
        <input type="text" ng-model="user.last_name" class="form-control" id="lastNameInput" placeholder="Last name" required>
      </div>
      <div class="form-group">
        <label for="emailInput">Email address</label>
        <input type="email" ng-model="user.email" class="form-control" id="emailInput" placeholder="Enter email address" required>
      </div>
      <div class="form-group">
        <label for="passInput">Password</label>
        <input type="password" ng-model="user.password" class="form-control" id="passInput" required>
      </div>
      <div class="form-group">
        <label for="passConfirmInput">Confirm password</label>
        <input type="password" ng-model="user.password_confirmation" class="form-control" id="passConfirmInput" required compare-to="user.password">
      </div>
      <button type="submit" class="btn btn-success" ng-disabled="signupForm.$invalid">Register</button>
    </form>
    <p>You will need to validate your account by opening the link in the email sent to you.</p>
  </div>
</div>
