<!DOCTYPE html>
<html>
<head>
<title>LogIn</title>
    <link rel="stylesheet" type="text/css" href="stylishness.css" media="all" />
</head>
<body>
  <!--<div class="backgroundImage"><img src="http://img.thesun.co.uk/multimedia/archive/01562/RSNE08SPP3---620g_1562364a.jpg"></div>-->
<div class="container">
    <div class="topButton" id="homebutton"><a href="http://www.myhome.ie/"> <strong>HOME</strong></a></div>
  <div class="topButton"><strong>CATEGORIES</strong></div>
  <div class="topButton"><strong>ABOUT</strong> </div>
  <div class="topButton"><strong>EDUCATION</strong> </div>
    <div class="topButton" id="signin">
                  <a href="C:\Users\stephen\Documents\2. Programming Project 2\Login\login.html"><strong>SIGN IN</strong></a>
              </div>
   <p  id="signup"><strong>REGISTER</strong> </p>
    
  </div>
			<header>
				<h1>REGISTER</h1>
            </header>       
       <div  class="form">
    		<form id="contactform"> 
    			<p class="contact"><label for="name">Name</label></p> 
    			<input id="name" name="name" placeholder="First and last name" required="" tabindex="1" type="text"> 
    			 
    			<p class="contact"><label for="email">Email</label></p> 
    			<input id="email" name="email" placeholder="example@domain.com" required="" type="email"> 
                
                <p class="contact"><label for="username">Create a username</label></p> 
    			<input id="username" name="username" placeholder="username" required="" tabindex="2" type="text"> 
    			 
                <p class="contact"><label for="password">Create a password</label></p> 
    			<input type="password" id="password" name="password" required=""> 
                <p class="contact"><label for="repassword">Confirm your password</label></p> 
    			<input type="password" id="repassword" name="repassword" required=""> 
    
  
            <select class="select-style gender" name="gender">
            <option value="select">Gender</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
            <option value="others">Other</option>
            </select><br><br>
            
         
                <div class="smallReg">ALREADY HAVE AN ACCOUNT? <a href="C:\Users\stephen\Documents\2. Programming Project 2\Login\login.html"><span>SIGN IN</span></a></div>
    
                
   </form> 
</div>
           <div id="imageBG" ><img src="http://media.irishcentral.com/images/MI+1916+Rising+GPO+Easter+rising.jpg" width="500px" height="390px"></div>
      
</div>

</body>
</html>
