<div>
  Posts for subtheme: {{subtheme.title}}
</div>

<div class="posts" ng-repeat="post in subtheme.posts">
  <div class="thumb">
    <a ng-href="/#/posts/{{post.id}}"><img ng-show="post.image.url" ng-src="http://localhost:3000{{post.image.url}}"/></a>
  </div>
  <div class="post_title">
    <p>{{post.title}}</p>
  </div>
    <div class="post_info">
  <p>{{post.user.first_name}} {{post.user.last_name}} - {{post.created_at | date:'MM/dd/yyyy'}}</p>
  </div>
</div>

<div>
  Create New Post:
</div>
<div>
  <form name="postForm" role="form" ng-submit="createPost()" novalidate>
    <div class="form-group">
      <label for="titleInput">Title:</label>
      <input type="text" ng-model="title" id="titleInput" class="form-control"  ng-minlength="3" ng-maxlength="128" required>
    </div>
    <div class="form-group">
      <label for="descInput">Description:</label>
      <input type="textarea" ng-model="description" id="descInput" class="form-control"  ng-minlength="3" ng-maxlength="500" required>
    </div>
    <div class="form-group">
      <label for="tagInput">Tags:</label>
      <input type="text" ng-model="all_tags" id="tagInput" class="form-control"  ng-minlength="3" ng-maxlength="109" required>
    </div>
    <div>
      <input type="file" ng-file-select ng-model="file" accept="image/*" value="Upload Image" required>
    </div>
    <div>
      <button type="submit" class="btn btn-success" ng-disabled="postForm.$invalid">Create Post</button>
    </div>
  </form>
</div>
