<div class="jumbo_container">
  <div class="jumbotron" style="background-image: url(../img/1916rising.jpg)">
    <h1>Rediscover</h1>
    <p>Your history today. Take a look through the past with History Board</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">View All Themes</a></p>
  </div>
</div>

<div class="category_box" style="background-image: url(../img/gplaypattern.png)">
  <h1>
    Themes
  </h1>
  <div class="categories">

    <div class="row">
      <div ng-repeat="theme in themes">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img ng-src="http://localhost:3000{{theme.image.url}}" alt="{{theme.title}}">
            <div class="caption">
              <h3>{{theme.title}}</h3>
              <p>{{theme.description}}</p>
              <p><a ng-href="/#/themes/{{theme.id}}" class="btn btn-primary" role="button">Explore</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>
  We need your help.
  <br>
  Join the discussion and keep Irish History alive.
  <br>
  Please submit your own artifacts to each of our themes, or create your own instead.
  <br>
  <br>
  <a class="btn btn-primary btn-lg" href="#" role="button">Submit Theme</a>
  </p>
</div>

<div style="padding-top: 20px">
  Create New Theme:
</div>
<div>
  <form name="themeForm" role="form" ng-submit="createTheme()" novalidate>
    <div class="form-group">
      <input type="text" ng-model="title" id="titleInput" class="form-control" placeholder="Theme Title" ng-minlength="3" ng-maxlength="128" required>
    </div>
        <div class="form-group">
      <input type="text" ng-model="description" id="descInput" class="form-control" placeholder="Theme Description" ng-minlength="3" ng-maxlength="128" required>
    </div>
    <div>
      <button type="submit" class="btn btn-success" ng-disabled="themeForm.$invalid">Create Theme</button>
    </div>
  </form>
</div>
