<p>Displaying themes</p>
<ul>
  <li ng-repeat="theme in themes">
    <a ng-href="/#/themes/{{theme.id}}">id: {{theme.id}}</a> title: {{theme.title}} description: {{theme.description}}
    <img ng-show="theme.image.url" ng-src="http://localhost:3000{{theme.image.url}}" />
  </li>
</ul>
Title:<input type="text" ng-model="title"></input>
Description:<input type="text" ng-model="description"></input>
<input type="button" ng-file-select ng-model="file" accept="image/*" value="Select file">
<input type="button" ng-click="createTheme()" value="Create theme">
