<div>Displaying theme: {{theme.title}}</div>
<div>Subthemes for theme: {{theme.id}}</div>

<div ng-repeat="subtheme in theme.subthemes">
    <a ng-href="/#/subthemes/{{subtheme.id}}">id: {{subtheme.id}}</a>
    title: {{subtheme.title}} description: {{subtheme.description}}
</div>
<br>
<div>
  Create New Subtheme:
</div>
<div>
  <form name="subthemeForm" role="form" ng-submit="createSubtheme()" novalidate>
    <div class="form-group">
<!--       <label for="titleInput">Subtheme Title:</label> -->
      <input type="text" ng-model="title" id="titleInput" class="form-control" placeholder="Subtheme Title" ng-minlength="3" ng-maxlength="128" required>
    </div>
    <div>
      <button type="submit" class="btn btn-success" ng-disabled="subthemeForm.$invalid">Create Subtheme</button>
    </div>
  </form>
</div>
